<div style="background:#4b4d4f; margin:0; height:100vh">
    <main class="ui main container">
        <h1 class="ui header center aligned" style="font-weight:300;font-size:350%;letter-spacing:2px;color:white;">Contact Me</h1>
        <div class="ui divider" style="color:white;"></div>
        <p class="ui header center aligned" style="font-weight:300;color:white;">궁금한게 있으시면 연락주세요!</p>
        <div class="ui grid" style="margin-top:40px;">
            <div class="one wide column">

            </div>
            <div class="seven wide column center aligned">
                <form method="post">
                    <div class="ui form">
                        <div class="field">
                            <input type="text" placeholder="Subject" name="subject"/>
                        </div>
                        <div class="field">
                            <input type="email" placeholder="Email" name="email"/>
                        </div>
                        <div class="field">
                            <textarea rows="5" name="content" placeholder=""></textarea>
                        </div>
                        <button class="ui button basic inverted">Submit</button>
                    </div>
                </form>
            </div>
            <div class="seven wide column center aligned">
                <p class="ui header" style="font-size:98%; color:#fff;">다른 방법으로 연락하기</p>
                <div class="ui grid">
                    <div class="row" style="margin-top:40px;">
                        <div class="six wide column center aligned">
                            <i class="youtube icon large" style="color:white"></i>
                        </div>
                        <div class="seven wide column center aligned">
                            <a href="https://www.youtube.com/channel/UCU2RDu6Vhlgu3YV0puxz66A" style="color:#fff;" target="_blank">유투브 채널로 가기</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:-10px;">
                        <div class="six wide column center aligned">
                            <i class="github icon large" style="color:white"></i>
                        </div>
                        <div class="seven wide column center aligned">
                            <a href="https://github.com/daniely2564" style="color:#fff;" target="_blank">Github 바로 가기</a>
                        </div>
                    </div>
                    <div class="row" style="margin-top:-10px;">
                        <div class="six wide column center aligned">
                            <i class="mail icon large" style="color:white"></i>
                        </div>
                        <div class="seven wide column center aligned">
                            <a href="https://www.google.com" style="color:#fff;" target="_blank">dvlpryoo@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one wide column">

            </div>
        </div>
    </main>
</div>